/* Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Katibeh&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/* Reset CSS */

*{
    margin: 0;
    box-sizing: border-box;
}


/* Estilização */


/* HEADER */
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/header.png);
    background-size: 100%;

}

.headerLogo{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-right: 20%;
    cursor: pointer;

    
}

.search{
    display: flex;
    flex-direction: row;
    width: 50%;
    top: 0;
    position: relative;
}

input{
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    box-shadow:  -8px 9px 13px -4px rgba(102,102,102,1);
    padding-left: 5%;
    padding-right: 6%;
    font-family: 'Poppins';
}
    

.lupa{
    display: flex;
    margin: 5px;
    width: 2vw;
    left: 94%;
    position: absolute;
    cursor: pointer;
}

/* DADOS DE PESQUISA */

.busca{
       
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1rem;
    border-radius: 10px;
    top: 14%;
    left: 31%;
    background-color: rgba(255, 253, 253, 0.922);
    width: 43%;
    text-align: center;
    margin-top: 5px;
    float: left;
    z-index: 5;
  
  
  }

  ul{
    list-style: none;;
  }
  
  .busca li{
     padding-top: 10px;
     z-index: 5;
  }
  
  .busca ul li a{
    color: #000000;

  }

  .menuMobile {
    visibility: hidden;
}


/* --- */

.entre{
    background-color: #D8C307;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 9vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 1%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

.entre:hover{
    background-color: #ccb807;
}

.cad{
    background-color: #E99C06;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px; 
    margin-right: 2%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);

}

.cad:hover{
    background-color: #df7e07;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* NAVEGATION */
nav {
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 20px -4px rgba(184,182,184,1);

}

nav li {
    list-style: none; 
    display: inline-block;
    margin: 25px;
    color: #454343;
   
}

a{
    text-decoration: none;
}

/* Efeito no nav */

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #cc720571;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

nav a{
    position: relative;
}

nav a:hover::after{
    width: 100%;

}



/* SCROLL BAR */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 50px;
}

/* main */

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 3%;
    color: #CC7105;
    font-family: 'Katibeh';
    font-size: 60px;
    font-weight: 300;
}

.copyCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
    
}

.copyCont p{
    font-family: 'Inter';
    font-size: 25px;
    margin: 2%;
    font-family: 'Poppins';
    font-weight: 600;
    color: #666666;
}

.copyCont img{
    padding-left: 1%;
}

#conteudo{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 60% 60% 60% 60%;
    row-gap: 30px;
    column-gap:20px ;
    align-items: center;
    justify-content: center;
    padding-bottom: 28%;
        
}

.contSalada, .contLamen, .contPanqueca, .contPizza, .contCarne, .contCamarao, .contPeixe, .contTorta  {
    background-color: #EEB968;
    width: 18vw;
    height: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 8px 9px 20px -4px rgb(187, 186, 186);
}

#conteudo img{
    align-items: center;
    align-content: center;
    width: 90%;
    padding-left: 9%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.contPanqueca h2{
    padding-left: 20%;
    color: #fff;
    
}

.contSalada h2{
    margin-top: 4%;
    padding-left: 20%;
    color: #fff;
}

.contPeixe h2{
    margin-top: 5%;
    padding-left: 20%;
    color: #fff; 
}

.contTorta  h2{
    margin-top: 5%;
    padding-left: 20%;
    color: #fff; 
}

.contLamen h2{
    padding-left: 35%;
    color: #fff;
}

.contPizza h2{
    padding-left: 38%;
    color: #fff;
}

.contCarne h2{
    padding-left: 15%;
    color: #fff;
}

.contCamarao h2{
    padding-left: 31%;
    color: #fff;
}


.receita{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-left: 22%;
    
}

#conteudo button{
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    font-family: 'Inter';
    font-size: 25px;
    color: #CC7105;
    font-weight: 500;
    box-shadow: 8px 15px 20px -14px rgb(77, 77, 77);
    cursor: pointer;
}

#conteudo button:hover{
    background-color: #CC7105;
    color: #fff;
    transition: all 0.4s;
    transform: scale(1.1);
    
}

/* PRÉ RODAPÉ */
.preFooter{
   background-image: url(img/footerimg.png);
   height: 40vh;
   width: 100%;
}

/* FOOTER*/ 
.footer{
    background-color: #EEB968;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer li{
    list-style: none;
    color: #fff;
    font-family: 'Poppins';
}

/* COPYRIGHT */
.copyrigth{
    background-color: #ccb807;
    height: 5vh;
    color: #fff;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Mobile */

@media screen and (max-width: 500px) {

    /*Header*/
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
        
    
    }
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
        
        
    }

    .headerLogo > a > img {
        width: 15vw;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }


    
    
    input{
        width: 100%;
        height: 3vh !important;
        border-radius: 20px;
        position: relative; 
        padding-left: 5%;
        padding-right: 6%;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 12px;
        left: 84%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        display: none;
    }

    

    .cad{
        display: none;

    }

    .menuMobile {
        visibility: visible;
        margin-right: 6%;
        
    }

    .menuMobile > .fa-bars{
        font-size: 1.4rem;
    }

    nav > ol {
        display: none;
    }

    nav {
        display: none;
    }

    /* Titulo */
     .copy h1 {
        font-size: 7vw;
     }

    /* Dica */
    .copyCont img {
        width: 20vw;
    }

    .copyCont p {
        font-size: 3vw;
    }

    .copyCont {
        margin-bottom: 6%;
    }

    /* cards receitas */

    #conteudo{
        width: 100vw;
        display: flex;
        flex-direction: column;
        
            
    }

    .contSalada, .contLamen, .contPanqueca, .contPizza, .contCarne, .contCamarao, .contPeixe, .contTorta  {
       width: 75vw;
       height: 65%;
    }
    
    #conteudo button{
        width: 38vw;
        height: 6vh;
        background-color: #CC7105;       
        font-size: 25px;
        color: #fff;
        margin-top: 6%;
        margin-bottom: 5%;
        margin-left: 5;
        margin-right: 5;
        
    }

     h2 {
        font-size: 7vw;
        
    }

    .contSalada h2, .contLamen h2, .contPanqueca h2, .contPizza h2, .contCarne h2, .contCamarao h2, .contPeixe h2, .contTorta h2  {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Img pré footer */

    .preFooter {
        width: 100vw;
        height: 20vh;
        display: flex;
    }

    /* COPYRIGHT */
    .copyrigth > p {
        font-size: 13px;
    }

    /* FOOTER*/ 
    .footer{
        height: 10vh;
    }

    .footerImg > a > img {
        width: 20vw;
        padding-top: 10%;
        margin-left: 20%;
    }

    footer li{
        font-size: 12px;
    }

    footer ul {
        margin-left: -20%;
    }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 15vw;
    }

    input{
        height: 3.5vh !important;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 26px;
        left: 88%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    /* Titulo */
    .copy h1 {
        font-size: 7vw;
     }

    /* Dica */
    .copyCont img {
        width: 20vw;
    }

    .copyCont p {
        font-size: 3vw;
    }

    .copyCont {
        margin-bottom: 6%;
    }

    /* Cards de Receitas */

    #conteudo{
        width: 86vw;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 28% 28% 28% 28%;
        row-gap: 2px;
        column-gap: 0;   
        padding-bottom: 60%;
        margin-left: 8%;
            
    }

    .contSalada, .contLamen, .contPanqueca, .contPizza, .contCarne, .contCamarao, .contPeixe, .contTorta  {
        width: 40vw;
        height: auto;
        
     }

     .contSalada h2, .contLamen h2, .contPanqueca h2, .contPizza h2, .contCarne h2, .contCamarao h2, .contPeixe h2, .contTorta h2  {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h2 {
        font-size: 4.4vw;
        
    }

    #conteudo button{
        width: 24vw;
        height: 4vh;
        background-color: #CC7105;       
        font-size: 20px;
        color: #fff;
        margin-top: 6%;
        margin-bottom: 5%;
        margin-left: 2;
        margin-right: 4;
        
    }

     /* Img pré footer */

     .preFooter {
        width: 100vw;
        height: 20vh;
        display: flex;
    }

    /* FOOTER */
    .footer {
        height: 10vh;
    }

    .footerImg > a > img {
        width: 15vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 14px;
    }

    footer ul {
        margin-left: -20%;
    }
    


}

@media screen and (min-width: 901px) and (max-width: 1320px){
    
    header{
        width: 100vw;
        height: 24%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 10vw;
        
    }

    input{
        height: 3.5vh !important;
        width: 70vw;
        
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 18px;
        left: 93%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }
     
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    /* FOOTER */

    .footerImg > a > img {
        width: 10vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 18px;
    }

    footer ul {
        margin-left: -20%;
    }
}
