/* Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Katibeh&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/* Reset CSS */

*{
    margin: 0;
    box-sizing: border-box;
}


/* Estilização */


/* HEADER */
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/header.png);
    background-size: 100%;

}

.headerLogo{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-right: 20%;
    cursor: pointer;

    
}

.search{
    display: flex;
    flex-direction: row;
    width: 50%;
    top: 0;
    position: relative;
}

input{
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    box-shadow:  -8px 9px 13px -4px rgba(102,102,102,1);
    padding-left: 5%;
    padding-right: 6%;
    font-family: 'Poppins';
}
    

.lupa{
    display: flex;
    margin: 5px;
    width: 2vw;
    left: 94%;
    position: absolute;
    cursor: pointer;
}

/* DADOS DE PESQUISA */

.busca{
       
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1rem;
    border-radius: 10px;
    top: 14%;
    left: 31%;
    background-color: rgba(255, 253, 253, 0.922);
    width: 43%;
    text-align: center;
    margin-top: 5px;
    float: left;
    z-index: 5;
  
  
  }

  ul{
    list-style: none;;
  }
  
  .busca li{
     padding-top: 10px;
     z-index: 5;
  }
  
  .busca ul li a{
    color: #000000;

  }

  .menuMobile {
    visibility: hidden;
}

/* --- */

.entre{
    background-color: #D8C307;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 9vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 1%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

.entre:hover{
    background-color: #ccb807;
}

.cad{
    background-color: #E99C06;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px; 
    margin-right: 2%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);

}

.cad:hover{
    background-color: #df7e07;
}

header a{
    text-decoration: none;
    color: #fff;
}
/* NAVEGATION */
nav {
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 20px -4px rgba(184,182,184,1);

}

nav li {
    list-style: none; 
    display: inline-block;
    margin: 25px;
    color: #454343;
   
}

a{
    text-decoration: none;
}

/* Efeito no nav */

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #cc720571;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

nav a{
    position: relative;
}

nav a:hover::after{
    width: 100%;

}



/* SCROLL BAR */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 50px;
}

/* MAIN */
.container h1{
    display: flex;
    align-items: center;
    align-content: center;
    color: #fff;
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 39%;
    background-color: #df7e07;
    width: 25%;
    height: 6vh;
    border-radius: 20px;
    font-weight: 500;
    font-family: 'Inter';
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);

    
}

.conteudo{
    display: flex;
    align-items: center;
    padding-bottom: 10%;

}

.conteudo img{
    width: 100%;
    margin-left: 25%;
    box-shadow: -2px 5px 13px 2px rgb(170, 170, 170);
    border-radius: 20px;
}

.txtArea{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    width: 50%;
    font-size: 1.5em;
    flex-direction: column;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 10%;

}

.conteudo button{
    width: 12vw;
    height: 5vh;
    margin-top: 40%;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
    cursor: pointer;
    font-weight: 500;
}

.conteudo strong{
    color: #df7e07;
}

.home{
     background-color: #df7e07;
     border: none;
     border-radius: 20px;
     color: #fff;
     font-size: 1em;
     font-family: 'Inter';
     margin-right: 10%;
}

.contato{
    background-color: #ccb807;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    font-family: 'Inter';
    margin-left: 10%;
}

.home:hover{
    background-color: #d17403;
}

.contato:hover{
    background-color: #b7a507;
}


/* FOOTER*/ 
.footer{
    background-color: #EEB968;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer li{
    list-style: none;
    color: #fff;
    font-family: 'Poppins';
}

/* COPYRIGHT */
.copyrigth{
    background-color: #ccb807;
    height: 5vh;
    color: #fff;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Medias Queries*/

/* Mobile */

@media screen and (max-width: 500px) {

    /*Header*/
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
        
    
    }
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
        
        
    }

    .headerLogo > a > img {
        width: 15vw;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }


    
    
    input{
        width: 100%;
        height: 3vh !important;
        border-radius: 20px;
        position: relative; 
        padding-left: 5%;
        padding-right: 6%;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 12px;
        left: 84%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        display: none;
    }

    

    .cad{
        display: none;

    }

    .menuMobile {
        visibility: visible;
        margin-right: 6%;
        
    }

    .menuMobile > .fa-bars{
        font-size: 1.4rem;
    }

    nav > ol {
        display: none;
    }

    nav {
        display: none;
    }

    
    /* Titulo */
    .container > h1{    
        font-size: 1em;    
        width: 54vw;
        height: 4vh;
        margin-left: 25%;
        margin-right: 25%;
        padding-left: 15%;
        margin-top: 4%;
    }

    /* Box de Infomações */


    .container{
        display: grid;
        grid-template-columns: 100%;
        width: 100vw;
        margin-bottom: 10%;
        
    }

    .container img{
        margin-top: 5%;
        display: flex;
        width: 80vw;
        margin-left: 0%;
        box-shadow: none;    
        
                   
    }

    .conteudo {
        display: flex;
        flex-direction: column;
    }

    .txtArea{
        width: 83vw !important;
        padding-left: 0%;
        padding-right: 0%;
        margin-top: 5%;
       
        text-align: justify;
        font-size: 20px;

        
    }

    /* Botões */

    .conteudo button {
        width: 30vw;
    }

    /* COPYRIGHT */
    .copyrigth > p {
        font-size: 13px;
    }

    /* FOOTER*/ 
    .footer{
        height: 9vh;
    }

    .footerImg > a > img {
        width: 20vw;
        padding-top: 10%;
        margin-left: 20%;
    }

    footer li{
        font-size: 12px;
    }

    footer ul {
        margin-left: -20%;
    }
    
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 15vw;
    }

    input{
        height: 3.5vh !important;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 14px;
        left: 88%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    /* Titulo */

    .container > h1 {
        font-size: 2.5vw;
        padding-left: 0;
        width: 30vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Box informações */
    .container img{
        margin-top: 5%;
        display: flex;
        width: 48vw;
        height: 42vh;
        margin-left: 5%;
        
           
        
                   
    }

    .conteudo {
        display: flex;
        flex-direction: row;
    }

    .txtArea{
        width: 83vw !important;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
       
        text-align: justify;
        font-size: 2.7vw;

        
    }
    
    /* FOOTER */
    .footer {
        height: 10vh;
    }

    .footerImg > a > img {
        width: 15vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 14px;
    }

    footer ul {
        margin-left: -20%;
    }

}

@media screen and (min-width: 901px) and (max-width: 1320px){
    
    header{
        width: 100vw;
        height: 24%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 10vw;
        
    }

    input{
        height: 3.5vh !important;
        width: 70vw;
        
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 18px;
        left: 93%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }
     
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }


     /* Titulo */

     .container > h1 {
        font-size: 2vw;
        padding-left: 0;
        width: 30vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Box informações */
    .container img{
        margin-top: 5%;
        display: flex;
        width: 40vw;
        height: 42vh;
        margin-left: 10%;
        
           
        
                   
    }

    .conteudo {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }

    .txtArea{
        width: 83vw !important;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 5%;
       
        text-align: justify;
        font-size: 2vw;

        
    }
    
     /* FOOTER */

     .footerImg > a > img {
        width: 10vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 14px;
    }

    footer ul {
        margin-left: -20%;
    }
}