/* Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Katibeh&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/* Reset CSS */

*{
    margin: 0;
    box-sizing: border-box;
}


/* Estilização */


/* HEADER */
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/header.png);
    background-size: 100%;

}

.headerLogo{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-right: 20%;
    cursor: pointer;

    
}

.search{
    display: flex;
    flex-direction: row;
    width: 50%;
    top: 0;
    position: relative;
}

input{
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    box-shadow:  -8px 9px 13px -4px rgba(102,102,102,1);
    padding-left: 5%;
    padding-right: 6%;
    font-family: 'Poppins';
}
    

.lupa{
    display: flex;
    margin: 5px;
    width: 2vw;
    left: 94%;
    position: absolute;
    cursor: pointer;
}

/* DADOS DE PESQUISA */

.busca{
       
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1rem;
    border-radius: 10px;
    top: 14%;
    left: 31%;
    background-color: rgba(255, 253, 253, 0.922);
    width: 43%;
    text-align: center;
    margin-top: 5px;
    float: left;
    z-index: 5;
  
  
  }

  ul{
    list-style: none;;
  }
  
  .busca li{
     padding-top: 10px;
     z-index: 5;
  }
  
  .busca ul li a{
    color: #000000;

  }

  .menuMobile {
    visibility: hidden;
}


/* --- */

.entre{
    background-color: #D8C307;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 9vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 1%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

.entre:hover{
    background-color: #ccb807;
}

.cad{
    background-color: #E99C06;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px; 
    margin-right: 2%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);

}

.cad:hover{
    background-color: #df7e07;
}

header a {
    text-decoration: none;
    color: #fff;
}

/* NAVEGATION */
nav {
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 20px -4px rgba(184,182,184,1);

}

nav li {
    list-style: none; 
    display: inline-block;
    margin: 25px;
    color: #454343;
   
}

a{
    text-decoration: none;
}

/* Efeito no nav */

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #cc720571;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
}

nav a{
    position: relative;
}

nav a:hover::after{
    width: 100%;

}



/* SCROLL BAR */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 50px;
}

/* BOX */
.container{
    width: 50vw;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-radius: 25px;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container h2 {
    font-size: 1.7vw;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-left: 6%;
    color: #df7e07;
}

.container p {
    font-size: 1.2vw;
    padding-bottom: 4%;
    margin-left: 6%;
    font-family: 'Inter';
}

.labels{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    padding-bottom: 5%;
}

.inputSenhaNova{
    width: 26vw;
    height: 5vh;
    margin-bottom: 4%;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

label{
    padding-bottom: 1%;
    font-family: 'Inter';
}

.container button {
    width: 17vw;
    height: 5vh;
    font-size: 1.2vw;
    border-radius: 20px;
    border: none;
    background-color: #df7e07;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 34%;
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

/* FOOTER*/ 
.footer{
    background-color: #EEB968;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer li{
    list-style: none;
    color: #fff;
    font-family: 'Poppins';
}

/* COPYRIGHT */
.copyrigth{
    background-color: #ccb807;
    height: 5vh;
    color: #fff;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Responsividade */

@media screen and (max-width: 500px) {

    body{
        overflow-x: hidden;
    }

    /*Header*/
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
        
    
    }
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
        
        
    }

    .headerLogo > a > img {
        width: 15vw;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }


    
    
    input{
        width: 100%;
        height: 3vh !important;
        border-radius: 20px;
        position: relative; 
        padding-left: 5%;
        padding-right: 6%;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 12px;
        left: 84%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        display: none;
    }

    

    .cad{
        display: none;

    }

    .menuMobile {
        visibility: visible;
        margin-right: 6%;
        
    }

    .menuMobile > .fa-bars{
        font-size: 1.4rem;
    }

    nav > ol {
        display: none;
    }

    nav {
        display: none;
    }

    /* CONTAINER */

    .container{
        width: 90vw;
        margin-bottom: 50%;
        margin-top: 10%;
    }

    .container h2{
        width: 80vw;
        font-size: 5vw;
    }

    .container p {
        width: 85vw;
        font-size: 4vw;
    }

    .labels {
        width: 80vw;
        margin-left: 15%;
        margin-top: 5%;
    }

    .labels label {
        font-size: 4vw;
    }

    .labels input {
        width: 60vw;
    }

    .container button {
        width: 40vw;
        height: 4vh;
        margin-left: 26%;
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 10%;
    }

    /* COPYRIGHT */
    .copyrigth > p {
        font-size: 13px;
    }

    /* FOOTER*/ 
    .footer{
        height: 10vh;
    }

    .footerImg > a > img {
        width: 20vw;
        padding-top: 10%;
        margin-left: 20%;
    }

    footer li{
        font-size: 12px;
    }

    footer ul {
        margin-left: -20%;
    }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 15vw;
    }

    input{
        height: 3.5vh !important;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 2.5vw;
        left: 88%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    /* CONTAINER */

    .container{
        width: 65vw;
        margin-bottom: 50%;
        margin-top: 10%;
    }

    .container h2{
        width: 60vw;
        font-size: 3vw;
    }

    .container p {
        width: 60vw;
        font-size: 2.5vw;
    }

    .labels {
        width: 60vw;
        margin-left: 15%;
        margin-top: 5%;
    }

    .labels label {
        font-size: 2.5vw;
    }

    .labels input {
        width: 45vw;
    }

    .container button {
        width: 30vw;
        height: 4vh;
        margin-left: 26%;
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 10%;
    }

    /* FOOTER */
    .footer {
        height: 10vh;
    }

    .footerImg > a > img {
        width: 15vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 14px;
    }

    footer ul {
        margin-left: -20%;
    }


}

@media screen and (min-width: 901px) and (max-width: 1320px){
    
    header{
        width: 100vw;
        height: 24%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 10vw;
        
    }

    input{
        height: 3.5vh !important;
        width: 70vw;
        
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 18px;
        left: 93%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }
     
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.4vw;
    }

    nav {
        height: 5vh;
    }

    /* CONTAINER */

    .container{
        width: 55vw;
        margin-bottom: 50%;
        margin-top: 10%;
    }

    .container h2{
        width: 50vw;
        font-size: 2.7vw;
    }

    .container p {
        width: 50vw;
        font-size: 1.7vw;
    }

    .labels {
        width: 50vw;
        margin-left: 15%;
        margin-top: 5%;
    }

    .labels label {
        font-size: 1.7vw;
    }

    .labels input {
        width: 38vw;
    }

    .container button {
        width: 25vw;
        height: 4vh;
        margin-left: 26%;
        font-size: 1.7vw;
        font-weight: 500;
        margin-bottom: 10%;
    }

    /* FOOTER */

    .footerImg > a > img {
        width: 10vw;
        padding-top: 10%;
        margin-left: 20%;
        padding-right: 10%;
    }

    footer li{
        font-size: 18px;
    }

    footer ul {
        margin-left: -20%;
    }

    html, body {
        overflow-x: hidden;
    }

}

