/* Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Katibeh&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/* Reset CSS */

*{
    margin: 0;
    box-sizing: border-box;
}


/* Estilização */


/* HEADER */
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/header.png);
    background-size: 100%;

}

.headerLogo{
    display: flex;
    align-items: center;
    margin: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-right: 20%;
    cursor: pointer;

    
}

.search{
    display: flex;
    flex-direction: row;
    width: 50%;
    top: 0;
    position: relative;
}

.pesq{
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    box-shadow:  -8px 9px 13px -4px rgba(102,102,102,1);
    padding-left: 5%;
    padding-right: 6%;
    font-family: 'Poppins';
}
    

.lupa{
    display: flex;
    margin: 5px;
    width: 2vw;
    left: 94%;
    position: absolute;
    cursor: pointer;
}

/* DADOS DE PESQUISA */

.busca{
       
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1rem;
    border-radius: 10px;
    top: 14%;
    left: 31%;
    background-color: rgba(255, 253, 253, 0.922);
    width: 43%;
    text-align: center;
    margin-top: 5px;
    float: left;
    z-index: 5;
  
  
  }

  ul{
    list-style: none;;
  }
  
  .busca li{
     padding-top: 10px;
     z-index: 5;
  }
  
  .busca ul li a{
    color: #000000;

  }

  .menuMobile {
    visibility: hidden;
}


/* --- */

.entre{
    background-color: #D8C307;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 9vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 1%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(102,102,102,1);
}

.entre:hover{
    background-color: #ccb807;
}

.cad{
    background-color: #E99C06;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 15px; 
    margin-right: 2%;
    cursor: pointer;
    box-shadow: -2px 5px 13px -4px rgba(184,182,184,1);

}

.cad:hover{
    background-color: #df7e07;
}

header a{
    text-decoration: none;
    color: #fff;
}

/* NAVEGATION */
nav {
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 9px 20px -5px rgba(184,182,184,1);

}

nav li {
    list-style: none; 
    display: inline-block;
    margin: 25px;
    color: #454343;
   
}

a{
    text-decoration: none;
}

/* Efeito no nav */

nav a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #cc720571;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
    
}

nav a{
    position: relative;
}

nav a:hover::after{
    width: 100%;

}



/* SCROLL BAR */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 50px;
}


/*MAIN */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    width: 60%;
    background-color: #EDEDED;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 10px 10px 33px -13px rgba(153,147,153,1);

}

.container img{
    display: flex;
    align-items: flex-start;
    justify-content:left;
    width: 100%;
    height: 80vh;   
    padding-left: 0%;

    
}

.conteudo{
    margin-top: 20%;
}

.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cf7404;
    font-weight: 580;
    font-family: 'Inter';
    font-size: 2.4Vw;
    padding-bottom: 5%;
}

.label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    width: 80%;
    padding-left: 10%;
    
}

.conteudo button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #df7e07;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2em;
    width: 10vw;
    height: 4.5vh;
    border-radius: 20px;
    margin-right: 50%;
    cursor: pointer;
    box-shadow: 0px 9px 20px -5px rgba(184,182,184,1);

}

.enviar{
    margin-left: 25%;
    margin-top: 8%;
    cursor: pointer;
}

.enviar:hover{
    background-color: #cf7404;
}

label{
    font-family:'Poppins';
    font-weight: 600;
    color: #d57907;
    padding-bottom: 5px;
    padding-top: 5px;
}

.inpEmail, .inpSenha{
    border: none;
    width: auto;
    height: 4vh;
    border-radius: 20px;
    box-shadow: 0px 9px 20px -5px rgb(221, 218, 221);
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
    font-family:'Poppins';
}

/* SPAN */

span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    cursor: pointer;
    color: #ca7207;
}



/* FOOTER*/ 
.footer{
    background-color: #EEB968;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

footer li{
    list-style: none;
    color: #fff;
    font-family: 'Poppins';
}

/* COPYRIGHT */
.copyrigth{
    background-color: #ccb807;
    height: 5vh;
    color: #fff;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    display: flex;
}


/* MEDIAS QUERIES */
/* Mobile */

@media screen and (max-width: 500px) {

    /*Header*/
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
        
    
    }
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;
        
        
    }

    .headerLogo > a > img {
        width: 15vw;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }


    
    
    input{
        width: 100%;
        height: 3.5vh !important;
        border-radius: 20px;
        position: relative; 
        padding-left: 5%;
        padding-right: 6%;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 15px;
        left: 84%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        display: none;
    }

    

    .cad{
        display: none;

    }

    .menuMobile {
        visibility: visible;
        margin-right: 6%;
        
    }

    .menuMobile > .fa-bars{
        font-size: 1.4rem;
    }

    nav > ol {
        display: none;
    }

    nav {
        display: none;
    }



    /* Box de entre*/

    .container{
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        margin-bottom: 10%;
    }

    .container img{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 22vw;
        height: 14vh;   
        margin-left: 37%;
        margin-top: 5%;
        border-radius: 50%;     
    }

    .container h1{
        color: #c4710b;
        font-weight: 600;
        font-family: 'Inter';
        font-size: 1.2em;
        margin-top: -12%;
    }

    .label{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        width: 88%;
        padding-left: 2%;
        
    }
    
    .label button{
        width: 50vw;
        height: 4.5vh;
        margin-left: 14%;

    
    }
    
    .inpEmail, .inpSenha{
        height: 3vh !important;

    }

    .conteudo > span {
        font-size: 4vw;
        margin-top: -10%;
        margin-bottom: 10%;
    }
    
    /* COPYRIGHT */
    .copyrigth > p {
        font-size: 12px;
    }

    /* FOOTER*/ 
    .footer{
        height: 9vh;
    }

    .footerImg > a > img {
        width: 20vw;
        padding-top: 10%;
        margin-left: 20%;
    }

    footer li{
        font-size: 12px;
    }

    footer ul {
        margin-left: -20%;
    }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    header{
        width: 100vw;
        height: 20%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 15vw;
    }

    input{
        height: 3.5vh !important;
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 14px;
        left: 88%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    /* Box de Contato */

    
    .container{
        width: 85%;
        

    }
    
    .container img{
        width: 100%;
        height: 52vh;          
    }
    
    .conteudo{
        margin-top: 25%;
    }
    
    .container h1{
        color: #d57907;
        font-weight: 600;
        font-size: 1.5em;
    }
    
    .conteudo button{
        font-weight: 600;
        font-size: 1.2em;
        width: 25vw;
        margin-left: 15%; 
        height: 3vh;
    }

    .label{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        width: 88%;
        padding-left: 2%;
        font-size: 14px;
    }

     .inpEmail, .inpSenha{
        height: 2.6vh !important;

    }

    .conteudo > span {
        font-size: 12px;
        margin-top: -12%;
    }

    /* FOOTER */

    .footer {
        height: 8vh;
    }

    .footerImg > a > img {
        width: 10vw;
        padding-top: 10%;
        margin-left: 20%;
    }

    footer li{
        font-size: 12px;
    }

    footer ul {
        margin-left: -20%;
    }
    
}     

@media screen and (min-width: 901px) and (max-width: 1320px){
    
    header{
        width: 100vw;
        height: 24%;
        background-size: 100% 100%;
        
    }
        
    
    .headerLogo{
        padding-top: 0%;
        padding-bottom: 0%;
        margin-right: 2%;
        margin-left: 2%;
        cursor: pointer;                   
    }
    
    .headerLogo > a > img {
        width: 10vw;
    }

    input{
        height: 3.5vh !important;
        
    }  
        
    
    .lupa{
        display: flex;
        margin: 5px;
        width: 18px;
        left: 93%;
        bottom: 0.1%;
        position: absolute;
        cursor: pointer;
    }
    
    .search{
        display: flex;
        flex-direction: row;
        width: 50%;
        top: 0;
        position: relative;
    }
     
    /* --- */

    .entre{
        font-size: 1.5vw;
        width: 12vw;
        height: 4vh;
        margin-left: 2%;
    }

    

    .cad{
        font-size: 1.5vw;
        width: 18vw;
        height: 4vh;

    }

    

    nav > ol {
        font-size: 1.7vw;
    }

    nav {
        height: 5vh;
    }

    .label{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        width: 88%;
        padding-left: 2%;
        font-size: 14px;
    }

     .inpEmail, .inpSenha{
        height: 4vh !important;

    }

    .conteudo button{
        font-weight: 600;
        font-size: 1em;
        width: 15vw;
        height: 3vh;
        margin-left: 20%; 
        margin-top: 15%;
    }

    .container{
        width: 60%;
        

    }

    .container h1{
        color: #d57907;
        font-weight: 600;
        font-size: 2em;
        margin-top: -10%;
    }
    
    .container img{
        width: 100%;
        height: 65vh;          
    }

    .conteudo > span {
        margin-top: -10%;
    }
}